body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #111;
    color: white;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px;
    background: linear-gradient(45deg, #4CAF50, #2e7d32);
    color: white;
}

.hero button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

/* PAGE */
.page {
    padding: 40px;
    text-align: center;
}

/* SERVICE BOX */
.service-box {
    background: white;
    margin: 10px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

/* FORM */
input, textarea {
    width: 60%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;{

    .pricing-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pricing-box {
    background: #f9f9f9;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.pricing-box h2 {
    color: #007BFF;
}

.pricing-box button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pricing-box button:hover {
    background: #0056b3;
}










    

